[core]
	excludesfile = /Users/bruce/.gitignore_global
[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[user]
	name = Bruce Jackson
	email = bjackson@leonovus.com
[commit]
	template = /Users/bruce/.stCommitMsg
[alias]
	pl = pull
  br = branch
  ci = commit
  co = checkout
  st = status
  undo = reset --soft 'HEAD^'
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[diff "sopsdiffer"]
	textconv = sops -d
